@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebasneue-regular.eot');
	src: url('../fonts/BebasNeue-Regular.otf') format('opentype'),
		url('webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebasneue-regular.woff2') format('woff2'),
		url('../fonts/bebasneue-regular.woff') format('woff'),
		url('../fonts/bebasneue-regular.ttf') format('truetype'),
		url('../fonts/bebasneue-regular.svg#BebasNeue') format('svg');
}
