// Colors
$main-color: rgb(59, 195, 181);
$grey-color: rgb(161, 161, 161);
$menu-bg-color: rgb(76, 207, 193);
$slider-bg-color: rgb(60, 195, 181);

$color1: rgb(58, 197, 181);
$color2: rgb(60, 195, 149);
$color3: rgb(60, 195, 181);
$color4: rgb(45, 168, 155);

$color6: rgb(175, 175, 175);
$color7: rgb(219, 219, 219);
$color8: rgb(227, 227, 227);
// Sizes
$viewport: 1280px - 300px;
