@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

.categories {
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.13);
	display: flex;
	justify-content: center;
	height: 190px;

	&__wrapper {
		width: 1280px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__arrow {
		height: 100%;
		background-color: rgba(0, 0, 0, 0);
		transition: background-color 0.2s;
		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}		
		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: center;
			height: 100%;
		}
	}

	&__prev {
		padding-left: 32px;
		padding-right: 67px;
		svg {
			fill: $grey-color;
			width: 29px;
			height: 88px;
		}
	}

	&__next {
		padding-left: 67px;
		padding-right: 32px;
		svg {
			fill: $grey-color;
			width: 29px;
			height: 88px;
			transform: rotate(180deg);
		}
	}

	&__goods {
		display: flex;
		justify-content: space-around;

		&:nth-child(3) {
			border-right: 1px solid $grey-color;
			border-left: 1px solid $grey-color;
		}
	}

	&__item {
		display: flex;
		justify-content: center;
	}

	&__preview {
		width: 200px;
		height: 140px;
		display: flex;
		justify-content: center;

		&--1 {
			background-image: url('../images/img_good_01.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}

		&--2 {
			background-image: url('../images/img_good_02.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}

		&--3 {
			background-image: url('../images/img_good_03.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}

	&__desc {
		margin-left: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		margin: 0;
		color: $grey-color;
		font-size: 27px;
		font-weight: 400;
		line-height: 25px;
	}

	&__btn {
		margin-top: 20px;
		color: white;
		border: 0;
		border-radius: 3px;
		background-color: rgb(60, 195, 149);
		width: 59px;
		height: 32px;
		cursor: pointer;
		font-size: 19px;
		font-weight: 400;
		line-height: 19px;
		transition: background-color 0.2s;
		&:hover {
			background-color: rgb(69, 218, 168);
		}
	}
}
