.copyright {
	height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: rgb(45, 168, 155);

	p {
		font-family: 'Open Sans';
		color: #ffffff;
		font-size: 15px;
		font-weight: 400;
		line-height: 28px;
	}
}
