@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

.featured {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 73px;

	&__header {
		width: 100%;
		height: 67px;
		display: flex;
		align-items: center;
		background-color: $slider-bg-color;
	}

	&__wrapper {
		h3 {
			margin: 0;
			font-size: 31px;
			font-weight: 400;
			line-height: 25px;
		}
	}

	&__goods {
		width: $viewport;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.card {
		margin-top: 48px;
		width: 253px;
		height: 260px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: lighten($grey-color, 20%) 1px solid;
		border-bottom: 5px solid $main-color;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);

		&__picture {
			width: 190px;
			height: 130px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;

			&--01 {
				background-image: url('../images/img_good_04.png');
			}
			&--02 {
				background-image: url('../images/img_good_05.png');
			}
			&--03 {
				background-image: url('../images/img_good_06.png');
			}
			&--04 {
				background-image: url('../images/img_good_01.png');
			}
			&--05 {
				background-image: url('../images/img_good_02.png');
			}
			&--06 {
				background-image: url('../images/img_good_03.png');
			}
		}

		&__title {
			margin-top: 10px;
			color: $grey-color;
			font-size: 27px;
			font-weight: 400;
			line-height: 25px;
		}

		&__sale {
			margin-top: 12px;
			display: flex;
			align-items: center;
		}

		&__price {
			color: $grey-color;
			font-size: 27px;
			font-weight: 400;
			line-height: 25px;
		}

		&__btn {
			margin-left: 15px;
			color: white;
			border: 0;
			border-radius: 3px;
			background-color: $main-color;
			width: 74px;
			height: 34px;
			cursor: pointer;
			font-size: 20.19px;
			font-weight: 400;
			line-height: 19px;
			transition: background-color 0.2s;
			&:hover {
				background-color: lighten($main-color, 15%);
			}
		}
	}
}
