@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

.footer {
	background-color: $main-color;
	height: 383px;

	&__wrapper {
		margin-top: 42px;
		padding-top: 42px;
		display: flex;
		justify-content: space-between;
	}

	&__header {
		@include clear;
		margin-bottom: 27px;
		font-size: 27px;
		font-weight: 400;
		line-height: 25px;
	}

	&__list {
		@include clear-list;
		min-width: 150px;
	}

	&__item {
		@include clear;
		margin-top: 3px;
	}

	&__link {
		color: white;
		font-family: 'Open Sans';
		font-size: 15px;
		font-weight: 400;
		line-height: 28px;
		transition: all 0.2s;
		&:hover {
			color: rgb(218, 218, 218);
			margin-left: 5px;
		}
	}
}
