@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

.header {
	display: flex;
	height: 84px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: white;
	}

	&__logo {
		padding-top: 6px;
	}

	&__link {
		font-family: Lobster;
		color: $main-color;
		font-size: 49px;
		font-weight: 400;
		line-height: 19px;
	}

	.search {
		display: flex;
		justify-content: space-around;
		border: lighten($grey-color, 10%) 1px solid;
		width: 434px;
		height: 31px;

		&__input {
			color: $grey-color;
			margin-left: 10px;
			width: 90%;
			border: 0px;
		}

		&__img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 10%;
			cursor: pointer;
		}

		&__icon {
			fill: $grey-color;
			width: 22px;
			height: 22px;
		}
	}

	.busket {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 108px;
		cursor: pointer;

		&__img {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__icon {
			fill: $main-color;
			width: 41px;
			height: 37px;
		}

		&__sum {
			display: flex;						
			align-self: flex-end;	
			padding-bottom: 4px;
		}

		&__text {
			color: $grey-color;
			font-size: 33px;
			font-weight: 400;
			line-height: 19px;			
		}
	}
}
