@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

.nav {
	display: flex;
	justify-content: center;
	height: 36px;
	background-color: $menu-bg-color;

	&__menu {
		@include clear-list;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
	}

	&__link {
		padding: 6px 15px;
		text-transform: uppercase;
		color: white;
		transition: color 0.2s;
		&:hover {
			color: rgb(218, 218, 218);
		}
	}

	&__item {
		&:first-child .nav__link {
			padding-left: 0;
		}
		&:last-child .nav__link {
			padding-right: 0;
		}
	}
}
